<div class="flex flex-wrap gap-y-8">
  <div
    class="flex items-center bg-card mx-7 rounded-lg overflow-hidden w-1/3"
  >
    <div class="w-32 h-32"><canvas id="chartDoughnut"></canvas></div>
    <div class="w-full">
      <div class="m-4">
        <h1 class="text-2xl font-extrabold">96%</h1>
        <p class="text-sm text-slate-500">rate of success</p>
      </div>

      <ul role="list" class="m-4 list-disc pl-4 space-y-2 text-slate-500">
        <li class="marker:text-sky-300">
          <div class="flex justify-between">Success <span>50</span></div>
        </li>
        <li class="marker:text-red-400">Fail</li>
        <li class="marker:text-yellow-400">Warning</li>
        <li class="marker:text-gray-300">Skip</li>
      </ul>
    </div>
  </div>
  <div
    id="banner"
    style="
      background-position: 100% 100%;
      background-size: 500px auto;
      background-image: url('city.png');
      background-color: #f6f1e9;
    "
    class="rounded-lg bg-no-repeat w-7/12"
  >
    <div class="px-14 py-12 text-2xl font-extrabold">
      <p>Good Report</p>
      <p>is a tool of productivity</p>
    </div>
  </div>
  <div
    class="flex items-center bg-card w-96 mx-7 rounded-lg overflow-hidden w-1/3"
  >
    <div class="w-32 h-32"><canvas id="chartDoughnut"></canvas></div>
    <div class="w-full">
      <div class="m-4">
        <h1 class="text-2xl font-extrabold">96%</h1>
        <p class="text-sm text-slate-500">rate of success</p>
      </div>

      <ul role="list" class="m-4 list-disc pl-4 space-y-2 text-slate-500">
        <li class="marker:text-sky-300">
          <div class="flex justify-between">Success <span>50</span></div>
        </li>
        <li class="marker:text-red-400">Fail</li>
        <li class="marker:text-yellow-400">Warning</li>
        <li class="marker:text-gray-300">Skip</li>
      </ul>
    </div>
  </div>
  <div
  class="flex items-center bg-card w-96 mx-7 rounded-lg overflow-hidden w-1/3"
>
  <div class="w-32 h-32"><canvas id="chartDoughnut"></canvas></div>
  <div class="w-full">
    <div class="m-4">
      <h1 class="text-2xl font-extrabold">96%</h1>
      <p class="text-sm text-slate-500">rate of success</p>
    </div>

    <ul role="list" class="m-4 list-disc pl-4 space-y-2 text-slate-500">
      <li class="marker:text-sky-300">
        <div class="flex justify-between">Success <span>50</span></div>
      </li>
      <li class="marker:text-red-400">Fail</li>
      <li class="marker:text-yellow-400">Warning</li>
      <li class="marker:text-gray-300">Skip</li>
    </ul>
  </div>
</div>
</div>
<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart doughnut -->
<script>
  const dataDoughnut = {
    datasets: [
      {
        label: "My First Dataset",
        data: [300, 50, 0, 100],
        backgroundColor: [
          "rgb(79, 201, 218)",
          "rgb(240, 100, 69)",
          "rgb(232, 196, 68)",
          "#E4E6EF",
        ],
        hoverOffset: 4,
      },
    ],
  };

  const configDoughnut = {
    type: "doughnut",
    data: dataDoughnut,
    options: {},
  };

  var chartBar = new Chart(
    document.getElementById("chartDoughnut"),
    configDoughnut
  );
</script>

<style type="text/css">
  #banner {
    background-position: 100% 100%;
    background-image: url("city.png");
  }
</style>
